In [1]:
import numpy as np
import pandas as pd

df_growth_rates = pd.read_csv("C:/Users/maria/PycharmProjects/BAA_App/src/data/population-growth-rates.csv")

df = pd.read_csv("C:/Users/maria/PycharmProjects/BAA_App/src/data/UN-population-projection-medium-variant.csv")

In [2]:
df = df.drop(columns="Population (future projections)", axis = 1)

In [3]:
df_germany = df[df["Entity"] == "Germany"]

In [4]:
df_germany.head(10)
type(df_germany)

pandas.core.frame.DataFrame

In [5]:
df_germany = df_germany.dropna(axis = 0,how="any")

In [6]:
df_germany.head(72)

        Entity Code  Year  Population (historical estimates)
12231  Germany  DEU  1950                         69966252.0
12232  Germany  DEU  1951                         70300011.0
12233  Germany  DEU  1952                         70620275.0
12234  Germany  DEU  1953                         70929839.0
12235  Germany  DEU  1954                         71233393.0
...        ...  ...   ...                                ...
12298  Germany  DEU  2017                         82658409.0
12299  Germany  DEU  2018                         83124413.0
12300  Germany  DEU  2019                         83517046.0
12301  Germany  DEU  2020                         83783945.0
12302  Germany  DEU  2021                         83900471.0

[72 rows x 4 columns]

In [7]:
df_germany.shape

(72, 4)

In [8]:
years = df_germany["Year"].to_numpy(dtype = int)
population_historical = df_germany["Population (historical estimates)"].to_numpy(dtype = int)

In [9]:
from scipy.stats import linregress

regression_result = linregress(years, population_historical)
scipy_slope = regression_result.slope
scipy_intercept = regression_result.intercept

In [10]:
def scipy_model(desired_year):
    model_result = scipy_slope * desired_year + scipy_intercept
    return model_result


def scipy_model_basic(basic_year):
    model_result = scipy_slope * basic_year + scipy_intercept
    return model_result

In [11]:
scipy_model(2100)

96573344.70100436

In [12]:
def actual_population(year):
    actual_population = df_germany[df.Year.eq(year)]
    actual_population = actual_population.iloc[0]["Population (historical estimates)"]
    return actual_population

In [13]:
actual_population(1952)

<ipython-input-12-fcbf0323549b>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  actual_population = df_germany[df.Year.eq(year)]

70620275.0

In [14]:
import streamlit as st

desired_year = st.number_input('Year', value=2022)

prediction = scipy_model(desired_year)
prediction_rounded = round(prediction, 2)

2022-04-28 22:14:19.528
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\maria\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]